.carousel-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    .carousel-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        .carousel {
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 400px;
            .carousel__item {
                display: none;
                width: 100%;
                height: 100%;
                padding-top: 50px;
                &.active {
                    display: inline-block;
                }
                .carousel__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                padding-top: 50px;
                position: absolute;
                top: 0;
                left: 0;
                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    color: white;
                    font-size: 30px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    transition: color .25s ease;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
        .wrapper {
            width: 100%;
            max-width: 500px;
            padding: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            box-sizing: border-box;
            .button {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primaryColor;
                color: rgba(255, 255, 255, 0.876);
                font-size: 40px;
                border: none;
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: all .25s ease;
                position: relative;
                z-index: 3;
                &:hover {
                    background-color: $blackColor;
                    color: $primaryColor;
                }
            }
            .gallery-row {
                flex-grow: 1;
                width: 100%;
                max-width: 380px;
                position: relative;
                overflow: hidden;
                z-index: 3;
                .list {
                    display: flex;
                    gap: 20px;
                    padding-left: 15px;
                    margin: 0;
                    list-style: none;
                    width: min-content;
                    transition: all 1s ease;
                    position: relative;
                    z-index: 3;
                    .list__item {
                        width: 180px;
                        height: 100px;
                        cursor: pointer;
                        border: 3px solid rgba(0, 0, 0, 0);
                        box-sizing: border-box;
                        &.active {
                            border: 3px solid $primaryColor;
                        }
                        .list__thumbnail {
                            width: 100%;
                            height: 100%;
                            transition: opacity .25s ease;
                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
    .carousel-container {
        .carousel-section {
            .carousel {
                min-height: 300px;
                max-height: 500px;
                height: 30vw;
                .carousel__item {
                    width: 100%;
                    max-width: 1000px;
                }
                .buttons {
                    padding-top: 30px;
                    .button {
                        font-size: 30px;
                    }
                    .close-button {
                        font-size: 20px;
                    }
                }
            }
            .gallery-row {
                .list {
                    .list__item {
                        min-width: 100px;
                        max-width: 220px;
                        min-height: 100px;
                        max-height: 220px;
                        width: 15vw;
                        height: 15vw;
                        .list__thumbnail {
                            width: 100%;
                        }
                    }
                }
                .gallery-buttons {
                    .button {
                        width: 30px;
                        height: 30px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}