.about-us-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    position: relative;
    .section {
        display: flex;
        justify-content: center;
        width: 100%;
        .wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 150px;
            width: 100%;
            max-width: $maxSectionWidth;
            .about-us {
                width: 100%;
                max-width: 450px;
                .about-us__title {
                    @include sectionTitle;
                }
                .about-us-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 400px;

                    .about-us__text--color {
                        font-size: 20px;
                        color: $blackColor;
                    }
                    .about-us__text {
                        color: $textColor;
                        font-size: 20px;
                        width: 100%;
                        font-weight: 300;
                    }
                    .about-us__image {
                        width: 200px;
                        height: 100%;
                        box-shadow: 0px 0px 20px 4px black;
                        border-radius: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1099px) {
    .about-us-container {
        padding: 20px;
        height: 100%;
        box-sizing: border-box;
        .section {
            .wrapper {
                gap: 0px;
                .about-us {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}