$primaryColor: #00c3dd;
$secundaryColor: #00B08D;
$tertiaryColor: #16715F;
$whiteColor: white;
$blackColor: #323232;
$textColor: #565656;
$opacityPrimaryColor: #00e1ff;
$maxSectionWidth: 1100px;
$fontFamily: "Roboto";

@mixin sectionTitle {
    color: $blackColor;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    & > span {
        color: $primaryColor;
    }
}

@font-face {
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 300;
}
@font-face {
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 400;
}
@font-face {
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 500;
}
@font-face {
    font-family: $fontFamily;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

html {
    box-sizing: border-box;
    height: 100vh;
    &*, *::before, *::after {
        box-sizing: inherit;
    }
    body {
        margin: 0;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 400;
        color: white;
        background-color: black;
        #root {
            height: 100%;
        }
        .app-container {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            height: min-content;
            position: relative;
            .scroll-top {
                width: 50px;
                height: 50px;
                background-color: $primaryColor;
                position: fixed;
                right: 30px;
                bottom: 20px;
                z-index: 4;
                cursor: pointer;
                border: none;
                border-radius: 300px;
                box-shadow: 0 0 5px 1px black;
                .fa-arrow-up {
                    color: white;
                    font-size: 20px;
                }
            }
            .scroll {
                width: 100%;
                height: 80%;
                position: absolute;
                top: 0;
            }
            .body {
                .complementary-sections {
                    background-color: $whiteColor;
                }
            }
        }
    }
}

//sections
@import "./sections/navbar";
@import "./sections/home";
@import "./sections/services";
@import "./sections/aboutUs";
@import "./sections/plans";
@import "./sections/contact";
@import "./sections/footer";

//components
@import "./components/carousel";
@import "./components/calendar"