@font-face {
  src: url("./fonts/Roboto-Bold.ttf") format("truetype"), url("./fonts/Roboto-Medium.ttf") format("truetype"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: black;
}

html body #root {
  height: 100%;
}

html body .app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}

html body .app-container .dark {
  display: none;
  background: #000;
  opacity: 0.8;
  z-index: 5;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

html body .app-container .dark.active {
  display: inline-block;
}

html body .app-container .scroll-top {
  width: 50px;
  height: 50px;
  background-color: #00c3dd;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 4;
  cursor: pointer;
  border: none;
  border-radius: 300px;
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
}

html body .app-container .scroll-top .fa-arrow-up {
  color: white;
  font-size: 20px;
}

html body .app-container .scroll {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #24242462;
}

.navbar-container.active {
  background-color: #323232;
  border-bottom: 1px solid black;
}

.navbar-container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1106px;
}

.navbar-container .content .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .content .logo-container .navbar__logo {
  width: 70px;
  height: auto;
}

.navbar-container .content .navbar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -0px;
}

.navbar-container .content .navbar .list .list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 150%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.navbar-container .content .navbar .list .list__link.active {
  color: #00c3dd;
  background-color: #00000042;
  border-bottom: 5px solid #00c3dd;
}

.navbar-container .content .navbar .list .list__link:hover {
  color: #00c3dd;
  background-color: #00000042;
  border-bottom: 5px solid #00c3dd;
}

.navbar-container .content .navbar .list .list__link .list__item {
  cursor: pointer;
}

.navbar-container .content .navbar .navbar__button {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .navbar-container {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-container .content {
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-container .content .logo-container .navbar__logo {
    width: 60px;
  }
  .navbar-container .content .navbar .list {
    display: none;
  }
  .navbar-container .content .navbar .list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: left;
        align-content: left;
    position: absolute;
    top: 80px;
    left: 0;
    gap: 0px;
    background-color: #00c3dd;
    height: 300px;
    width: 100%;
  }
  .navbar-container .content .navbar .list.active .list__link {
    border: none;
  }
  .navbar-container .content .navbar .list.active .list__link.active {
    color: white;
  }
  .navbar-container .content .navbar .list.active .list__link:hover {
    color: black;
  }
  .navbar-container .content .navbar .navbar__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    background-color: #14171a00;
    border: none;
    cursor: pointer;
  }
  .navbar-container .content .navbar .navbar__button .fas {
    color: #00c3dd;
    font-size: 30px;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 955px;
  background: rgba(0, 0, 0, 0) url(../images/slider-1.png) no-repeat fixed center center/cover;
  position: relative;
}

.home .home__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  position: absolute;
  left: 0;
  top: 0;
}

.home .scroll {
  height: 50% !important;
}

.home .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
}

.home .welcome .home__text {
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home .welcome .home__button {
  width: 400px;
  height: 80px;
  background-color: rgba(0, 0, 255, 0);
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: 5px solid #00c3dd;
  border-radius: 300px;
  -webkit-box-shadow: 0 0 40px 1px black;
          box-shadow: 0 0 40px 1px black;
  font-family: 'Roboto';
}

.home .welcome .home__button:hover {
  background-color: #00c3dd;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .home {
    height: 100vh;
  }
  .home .welcome {
    width: 100%;
  }
  .home .welcome .home__text {
    text-align: center;
  }
  .home .welcome .home__link .home__button {
    min-width: 250px;
    width: 100%;
  }
}

.gallery-container {
  height: 100%;
  background-color: #00c3dd;
  position: relative;
  padding-bottom: 50px;
  -webkit-box-shadow: inset 0px -20px 10px -15px #323232, inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px -20px 10px -15px #323232, inset 0px 20px 10px -15px #323232;
}

.gallery-container .section {
  width: 100%;
  padding-left: 400px;
  padding-top: 40px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-container .section .scroll {
  z-index: -1;
}

.gallery-container .section .gallery {
  max-width: 1106px;
}

.gallery-container .section .gallery .gallery__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.gallery-container .section .gallery .gallery__title > span {
  color: #00c3dd;
}

.gallery-container .section .gallery .gallery__title .gallery__title-color {
  color: white;
}

.gallery-container .section .gallery .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

.gallery-container .section .gallery .list .list__item {
  width: 355px;
  height: 355px;
  cursor: pointer;
}

.gallery-container .section .gallery .list .list__item:hover {
  opacity: .9;
}

.gallery-container .section .gallery .list .list__item .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1269px) {
  .gallery-container {
    height: 100%;
  }
  .gallery-container .carousel-root .carousel-slider {
    width: 100% !important;
    height: 600px !important;
  }
  .gallery-container .section {
    width: 100%;
    padding: 100px 20px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .gallery-container .section .gallery {
    min-width: 100%;
  }
  .gallery-container .section .gallery .list {
    gap: 10px;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-container .section .gallery .list .list__item .list__image {
    width: 100%;
  }
  .gallery-container .section .gallery .list .list__item .list__image:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.about-us-container {
  width: 100%;
  padding-left: 400px;
  background-color: #242424;
  height: 570px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  position: relative;
}

.about-us-container .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.about-us-container .section .about-us {
  min-width: 1106px;
}

.about-us-container .section .about-us .about-us__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.about-us-container .section .about-us .about-us__title > span {
  color: #00c3dd;
}

.about-us-container .section .about-us .about-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}

.about-us-container .section .about-us .about-us-info .about-us__text {
  color: white;
  font-size: 20px;
  width: 800px;
}

.about-us-container .section .about-us .about-us-info .about-us__image {
  width: 200px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px 4px black;
          box-shadow: 0px 0px 20px 4px black;
  border-radius: 300px;
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
  .about-us-container {
    padding: 20px;
    padding-bottom: 80px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #333333;
    background-image: none;
  }
  .about-us-container .section .about-us {
    min-width: 100%;
  }
  .about-us-container .section .about-us .about-us__title {
    color: white;
  }
  .about-us-container .section .about-us .about-us-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .about-us-container .section .about-us .about-us-info .about-us__text {
    font-size: 15px;
    color: white;
    width: 100%;
  }
}

.plans-container {
  background-color: #323232;
  position: relative;
  color: black;
  -webkit-box-shadow: inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px 20px 10px -15px #323232;
}

.plans-container .section {
  width: 100%;
  padding-left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 700px;
  padding-left: 0;
}

.plans-container .section .scroll {
  top: -50px;
  height: 30%;
}

.plans-container .section .plans {
  max-width: 1106px;
}

.plans-container .section .plans .plans__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  margin: 0;
}

.plans-container .section .plans .plans__title > span {
  color: #00c3dd;
}

.plans-container .section .plans .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.plans-container .section .plans .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  border: 1px solid #00c3dd;
  position: relative;
  background-color: #242424;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  padding-bottom: 50px;
  border-radius: 30px;
}

.plans-container .section .plans .list .list__item:nth-child(2) {
  background-color: #323232;
}

.plans-container .section .plans .list .list__item:nth-child(2) .list__title {
  background-color: #00c3dd;
}

.plans-container .section .plans .list .list__item .list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #323232;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.plans-container .section .plans .list .list__item .list__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  font-weight: 700;
  color: #00c3dd;
  padding: 40px;
}

.plans-container .section .plans .list .list__item .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
  .plans-container .section {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .plans-container .section .plans {
    width: 100%;
  }
  .plans-container .section .plans .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plans-container .section .plans .list .list__item {
    width: 100%;
    max-width: 355px;
  }
  .plans-container .section .plans .list .list__item .list__title {
    height: 100%;
    padding: 10px;
  }
  .plans-container .section .plans .list .list__item .list__cost {
    font-size: 40px;
    padding: 0;
  }
}

.contact-container {
  width: 100%;
  padding-left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: #242424;
  -webkit-box-shadow: inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px 20px 10px -15px #323232;
  position: relative;
  z-index: 3;
}

.contact-container .section {
  width: 1120px;
  padding-top: 20px;
}

.contact-container .section .scroll {
  z-index: -1;
  left: 0;
  top: -600px;
}

.contact-container .section .contact__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  margin: 0;
}

.contact-container .section .contact__title > span {
  color: #00c3dd;
}

.contact-container .section .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.contact-container .section .contact-info .subtitle {
  color: #00c3dd;
}

.contact-container .section .contact-info .social-media {
  max-width: 1150px;
}

.contact-container .section .contact-info .social-media .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.contact-container .section .contact-info .social-media .list .list__link {
  text-decoration: none;
}

.contact-container .section .contact-info .social-media .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: black;
}

.contact-container .section .contact-info .social-media .list .list__link .list__item .list__image {
  width: 40px;
  height: 100%;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.contact-container .section .contact-info .social-media .list .list__link .list__item .list__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-container .section .contact-info .social-media .list .list__link .list__item .list__name {
  color: white;
}

.contact-container .section .contact-info .social-media .list .list__link .list__item .list__name:hover {
  color: #00e1ff;
}

.contact-container .section .contact-info .opening-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.contact-container .section .contact-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.contact-container .section .contact-info .map {
  border: 0;
  -webkit-box-shadow: 0 0 10px .1px black;
          box-shadow: 0 0 10px .1px black;
  border-radius: 10px;
  margin-left: 5px;
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
  .contact-container {
    padding-left: 0;
    height: 100%;
  }
  .contact-container .section {
    width: 100%;
    padding: 20px;
    padding-bottom: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact-container .section .contact-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container .section .contact-info-container .contact-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    grid-auto-rows: 100%;
    gap: 0;
  }
  .contact-container .section .contact-info-container .contact-info .social-media {
    width: 100%;
  }
  .contact-container .section .contact-info-container .contact-info .social-media .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contact-container .section .contact-info-container .contact-info .social-media .list .list__link {
    width: 100%;
  }
  .contact-container .section .contact-info-container .contact-info .social-media .list .list__link .list__item {
    width: 100%;
    gap: 10px;
  }
  .contact-container .section .contact-info-container .contact-info .social-media .list .list__link .list__item .list__image {
    width: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .contact-container .section .contact-info .map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .contact-container .section .contact-info .map-container .map {
    width: 100%;
    height: 200px;
    margin: 0;
    margin-top: 40px;
    max-width: 363px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1700px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container .section .contact-info-container .contact-info {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    gap: 0px;
    max-width: 700px;
    min-width: 600px;
  }
  .contact-container .section .contact-info-container .contact-info .social-media {
    width: auto;
  }
  .contact-container .section .contact-info-container .contact-info .map {
    width: 100%;
    height: 200px;
    margin: 0;
    margin-top: 20px;
    max-width: 363px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #14171A;
}

.footer-container .copyright__bold {
  color: #00c3dd;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .footer-container .copyright {
    text-align: center;
  }
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.carousel-container .carousel-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

.carousel-container .carousel-section .carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
}

.carousel-container .carousel-section .carousel .carousel__item {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.carousel-container .carousel-section .carousel .carousel__item.active {
  display: inline-block;
}

.carousel-container .carousel-section .carousel .carousel__item .carousel__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-container .carousel-section .carousel .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-container .carousel-section .carousel .buttons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.carousel-container .carousel-section .carousel .buttons .button:hover {
  color: #00c3dd;
}

.carousel-container .carousel-section .carousel .buttons .close-button {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 300px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.carousel-container .carousel-section .carousel .buttons .close-button:hover {
  color: #00c3dd;
}

.carousel-container .carousel-section .gallery-row {
  width: 100%;
  position: relative;
}

.carousel-container .carousel-section .gallery-row .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 20px;
  margin: 0;
  list-style: none;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  z-index: 5;
}

.carousel-container .carousel-section .gallery-row .list .list__item {
  min-width: 220px;
  height: 220px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel-container .carousel-section .gallery-row .list .list__item.active {
  border: 3px solid #00c3dd;
}

.carousel-container .carousel-section .gallery-row .list .list__item .list__thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.carousel-container .carousel-section .gallery-row .list .list__item .list__thumbnail:hover {
  opacity: .8;
}

.carousel-container .carousel-section .gallery-row .gallery-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-container .carousel-section .gallery-row .gallery-buttons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00c3dd;
  color: rgba(255, 255, 255, 0.876);
  font-size: 40px;
  border: 3px solid #00c3dd;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  position: relative;
  z-index: 5;
}

.carousel-container .carousel-section .gallery-row .gallery-buttons .button:hover {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 1700px) {
  .carousel-container .carousel-section {
    gap: 40px;
  }
  .carousel-container .carousel-section .carousel {
    height: 100%;
  }
  .carousel-container .carousel-section .carousel .carousel__item {
    width: 100%;
    max-width: 1000px;
  }
  .carousel-container .carousel-section .carousel .buttons {
    padding-top: 30px;
  }
  .carousel-container .carousel-section .carousel .buttons .button {
    font-size: 30px;
  }
  .carousel-container .carousel-section .carousel .buttons .close-button {
    font-size: 20px;
  }
  .carousel-container .carousel-section .gallery-row .gallery-buttons .button {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .carousel-container .carousel-section .gallery-row .list .list__item {
    min-width: 100px;
    height: 100px;
  }
  .carousel-container .carousel-section .gallery-row .list .list__item .list__thumbnail {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .carousel-container .carousel-section .gallery-row .list .list__item {
    min-width: 150px;
    height: 150px;
  }
  .carousel-container .carousel-section .gallery-row .list .list__item .list__thumbnail {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */